ul.menu.menu--no-js
    each item in nav.menu
      li
        a.menu__item(class=currentPageLink===item.url? "menu__item--active":null href=currentPageLink===item.url? item.url:null) #{item.name}
    ul.menu.menu--user.menu--no-js
