@import "common/fonts.scss";
@import "common/vars.scss";
@import "common/base.scss";
@import "common/mixin.scss";

@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/menu.scss";
@import "blocks/socials.scss";
@import "blocks/footer.scss";
