{% extends "layout.j2" %}

{% set page = "index" %}

{% block content %}
  <h1>Главная</h1>
  <p>Главная страница.</p>
{% endblock content %}

{% block js %}
  <script>
    console.log('Инлайн-скрипт только для главной страницы.');
  </script>
{% endblock %}
