{% extends "base.j2" %}

{% set page = "styleguide" %}

{% block content %}
  <h1>Стайлгайд</h1>
  <h2>Заголовок второго уровня</h2>
  <h3>Заголовок третьего уровня</h3>
  <h4>Заголовок h4</h4>
  <h5>Заголовок h5</h5>
  <h6>Заголовок h6</h6>
  <p>Параграф текста, несколько слов в предложении для понимания.</p>
  <table>
    <tr>
      <th>Шапка таблицы 1</th>
      <th>Шапка таблицы 2</th>
      <th>Шапка таблицы 3</th>
    </tr>
    <tr>
      <td>td1</td>
      <td>td2</td>
      <td>td3</td>
    </tr>
  </table>
{% endblock content %}
