.button {
  &--close {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 21px;
    height: 21px;

    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    &::before,
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 15px;

      width: 2px;
      height: 21px;

      background-color: $color-primary;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
