<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site_name }}</title>
  <link rel="stylesheet" href="css/style.css">
  {% if debug and page %}
    <style>
      HTML {
        background-repeat: no-repeat;
        background-position:  50% 0;
        background-image: url("pp/{{ page }}-Mobile.jpg");
      }
      @media (min-width: 834px) {
        HTML {
          background-image: url("pp/{{ page }}-Tablet.jpg");
        }
      }
      @media (min-width: 1440px) {
        HTML {
          background-image: url("pp/{{ page }}-Desktop.jpg");
        }
      }
      * { outline: 1px solid rgba(255,100,0,.2);}
    </style>
    <link href="pp/styles.css" rel="stylesheet">
    <script src="pp/script.js"></script>
  {% endif %}
</head>
<body>
  <div hidden style="display:none;">
    {% include "common/sprite.svg" %}
  </div>

  {% block content %}{% endblock %}

  {% block js %}{% endblock %}
</body>
</html>
