:root {
  --color-base: #{$color-base};
  --color-bold: #{$color-bold};
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-hover: #{darken($color-primary, 15%)};
  --color-active: #{lighten($color-primary, 15%)};
}

body {
  font: list.slash($font-size, $line-height) $font-family;
  color: $color-base;
  background-color: $color-bg;
  letter-spacing: $letter-spacing;
  min-width: map-get($widths, xs);

  @include media-min(sm) { min-width: map-get($widths, sm); }
  @include media-min(md) { min-width: map-get($widths, md); }
  @include media-min(lg) { min-width: map-get($widths, lg); }
  @include media-min(xl) { min-width: map-get($widths, xl); }
}

a {
  background-color: transparent;

  &:hover,
  &:focus {
    color: $color-hover;
    text-decoration: none;
  }

  &:active { color: $color-active; }
}
