body {
  min-width: $width-xs;

  font-size: $font-xs;
  line-height: $line-height;
  font-family: $font-family;
  text-align: left;
  color: $color-base;
  letter-spacing: $letter-spacing;

  background-color: $color-bg;

  @media #{$media-sm} {
    min-width: $width-sm;
  }
  @media #{$media-md} {
    min-width: $width-md;
  }
  @media #{$media-lg} {
    min-width: $width-lg;
  }
  @media #{$media-xl} {
    min-width: $width-xl;
  }
}

a {
  background-color: transparent;
  &:hover,
  &:focus {
    color: $color-hover;
    text-decoration: none;
  }
  &:active {
    color: $color-active;
  }
}
