body {
  min-width: $width-xs;
  margin: 0;

  font-size: $font-xs;
  line-height: $line-height;
  font-family: $font-family;
  text-align: left;
  color: $color-base;
  letter-spacing: $letter-spacing;

  background-color: $color-bg;

  -webkit-tap-highlight-color: rgba($color-base, 0);
  -webkit-text-size-adjust: 100%;
  // @media #{sm} {
  //   min-width: $width-sm;
  // }
  // @media #{md} {
  //   min-width: $width-md;
  // }
  // @media #{lg} {
  //   min-width: $width-lg;
  // }
  // @media #{xl} {
  //   min-width: $width-xl;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: $color-link;

  background-color: transparent;
  &:hover,
  &:focus {
    color: $color-hover;
    text-decoration: none;
  }
  &:active {
    color: $color-active;
  }
}

img {
  vertical-align: middle;

  border-style: none;
}

svg {
  overflow: hidden;

  vertical-align: middle;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;

  line-height: inherit;
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;

  resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.toggle {
  position: absolute;
  top: 50px;
  right: 30px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 18px;

  font-size: 0;

  background: transparent;
  border: 0;
  cursor: pointer;
}

.hamburger {
  display: inline-block;
  width: 24px;
  height: 2px;

  vertical-align: middle;

  background-color: #222222;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  transition: 0.5s;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: #222222;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    transition: 0.5s;
  }
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: #222222;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    transition: 0.5s;
  }
  &--active {
    display: block;

    background-color: transparent;
  }
  &--active:before {
    top: 0;

    transform: rotate(45deg);
  }
  &--active:after {
    top: 0;

    transform: rotate(135deg);
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 21px;
  height: 21px;

  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  &::before,
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 15px;

    width: 2px;
    height: 21px;

    background-color: $color-primary;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);
  cursor: pointer;

  &--show {
    display: block;
  }
}
