body {
  min-width: $width-xs;
  margin: 0;

  font-size: $font-xs;
  line-height: $line-height;
  font-family: $font-family;
  text-align: left;
  color: $color-base;
  letter-spacing: $letter-spacing;

  background-color: $color-bg;

  -webkit-tap-highlight-color: rgba($color-base, 0);
  -webkit-text-size-adjust: 100%;
  // @media #{sm} {
  //   min-width: $width-sm;
  // }
  // @media #{md} {
  //   min-width: $width-md;
  // }
  // @media #{lg} {
  //   min-width: $width-lg;
  // }
  // @media #{xl} {
  //   min-width: $width-xl;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: $color-link;

  background-color: transparent;
  &:hover,
  &:focus {
    color: $color-hover;
    text-decoration: none;
  }
  &:active {
    color: $color-active;
  }
}

img {
  vertical-align: middle;

  border-style: none;
}

svg {
  overflow: hidden;

  vertical-align: middle;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;

  line-height: inherit;
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;

  resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
