@font-face {
  font-weight: 500;
  font-family: "Montserrat";

  src: url("../fonts/montserrat-medium.woff2") format("woff2"),
  url("../fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";

  src: url("../fonts/montserrat-semibold.woff2") format("woff2"),
  url("../fonts/montserrat-semibold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";

  src: url("../fonts/montserrat-bold.woff2") format("woff2"),
  url("../fonts/montserrat-bold.woff") format("woff");
}
