@font-face {
  font-weight: 500;
  font-family: "ʕ•́ᴥ•̀ʔっ";

  font-display: swap;
  src: url("../fonts/ʕ•́ᴥ•̀ʔっ.woff2") format("woff2"),
  url("../fonts/ʕ•́ᴥ•̀ʔっ.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "ʕ•́ᴥ•̀ʔっ";

  font-display: swap;
  src: url("../fonts/ʕ•́ᴥ•̀ʔっ.woff2") format("woff2"),
  url("../fonts/ʕ•́ᴥ•̀ʔっ.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "ʕ•́ᴥ•̀ʔっ";

  font-display: swap;
  src: url("../fonts/ʕ•́ᴥ•̀ʔっ.woff2") format("woff2"),
  url("../fonts/ʕ•́ᴥ•̀ʔっ.woff") format("woff");
}
