//Шрифты
$font-family: Roboto, Arial, sans-serif;
$line-height: 1.3;
$line-height-xs: 10px;
$line-height-sm: 16px;
$line-height-md: 22px;
$line-height-lg: 24px;
$line-height-xl: 30px;
$letter-spacing: 0;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 36px;
$font-xxl: 45px;
$font-xxxl: 55px;

//Цвета
$color-base: #283136;
$color-bold: #000000;
$color-bg: #ffffff;
$color-bg-secondary: #eeeeee;
$color-primary: #fb565a;
$color-secondary: #00ca74;
$color-tertiary: #efc84a;
$color-active-control: #c1c1c1;
$color-link: $color-primary;
$color-hover: darken($color-primary, 15%);
$color-active: lighten($color-primary, 15%);

//Размеры
$width-xs: 320px;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1440px;

//Медиа
$media-sm: screen and (max-width: $width-sm);
$media-md: screen and (max-width: $width-md);
$media-lg: screen and (max-width: $width-lg);
$media-xl: screen and (max-width: $width-xl);

//Отступы
$gap: 140px;
$gapSm: 20px;
