doctype html
block vars
html(lang="ru")
  include mixin.pug
  include head.pug
  body
    include svg.pug
    include ../blocks/header.pug
    main
      block mainContent
    footer.footer
      a.footer__copyright(href="https://jokerinteractive.ru") Создание сайта
    script(src="js/swiper.min.js")
    script(src="js/script.min.js")
